@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

html {
	height: 100%;
	width: 100%;
	background-color: #fcfcfc;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

body {
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
}

.app-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.app-container * {
	box-sizing: border-box;
}

.modal-overlay {
	background-color: rgba(255,255,255,0.6);
}

.modal-window {
	border: 1px solid #ccc;
}